html{
    background-color:#efcdf7;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Poppins";
}


.cari{
    display: flex;
    justify-content:left;
    font-size:18px;
}

.header{
    padding-bottom:25px;

    display:flex;
    justify-content:space-between;
}

.adddata{
    background-color:#f70d57;
    color:#fafafa;
    border:none;
    border-radius:15px;
    padding: 6px 15px;
    cursor: pointer;
    font-size : 17px;
    text-decoration:none;
/* 
    border-radius:5px;
    margin:0 0 0 auto;
    padding :15px;
    text-decoration:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    
    font-size:20px; */
}

.search-container{
    position:relative;
    display :flex;
}

.search-input{
    height:40px;
    padding:0 10px;
    border:none;
    box-shadow: 0 2px 5px rgba(4, 0, 0, 0.3);
    border-radius:4px;
    font-size:16px;
    outline:none;
    width :290px;
}

.search-button{
    position:absolute;
    right :0;
    top:0;
    height:40px;
    width:60px;
    border:none;
    background-color:#f70d57;
    color:#fafafa;
    border-radius:0 4px 4px 0;
    font-size:16px;
    cursor:pointer;
    transition:all 0.3s ease;
}


.container {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: t.ranslate(-50%, -50%); */
    padding: 20px 25px;
    /* width: 300px; */
    border: 2px solid #f70d57;
    border-radius: 10px;
    background-image: linear-gradient(to right, #e57f84, #e57f84);
    box-shadow: 0 0 10px rgba(167, 161, 161, 0.3);

}

table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    /* border: 2px solid #206d91;
    border-radius: 10px; */
    /* background-image: linear-gradient(to right, #4297a0, #e57f84); */
    box-shadow: 0 2px 15px rgba(167, 161, 161, 0.3);
    overflow:hidden;

}

.table-middle{
    display : flex;
    justify-content:center;
}

.ubah{
    color:#206d91;

}

.container td {
    text-align:center;
}

.container th{
    background-color:#f70d57;
    color :#fafafa;
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
    text-transform:uppercase;
}
/* 
.container tr{
    box-shadow:#a92275;
} */

/* .container h1 {
    text-align: center;
    color: #f7ef0d;
    margin-bottom: 20px;
    margin-top : 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e872;
} */

.h1{
    text-align:center;
    margin-top : 40px;
    margin-bottom:40px;
    font-family:'Poppins';
    color:#f70d57;
    text-transform:uppercase;
    font-size:2em;
}

.ubah{
    color:#fafafa;
    text-decoration:none;
}

.hapus{
    color: #fafafa;
    text-decoration:none;
}

.logout{
    border-radius:5px;
    margin:0 0 0 auto;
    padding :15px;
    text-decoration:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    /* gap :5px; */
    font-size:20px;
    color:#f70d57;
    border:none;
    cursor:pointer;
    
    background-color:#f70d57;
    color:#fafafa;
    border:none;
    border-radius:15px;
    padding: 6px 15px;
    cursor: pointer;
    font-size : 17px;
    text-decoration:none;
}

.footer{
    display:flex;
    justify-content:flex-end;
    padding:10px 0;
}

.container label {
    text-align: left;
    color: #ffffff;
}

.container form input {
    width: -webkit-fill-available;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    color: rgb(255, 255, 255);
}

.container form button {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    border: none;
    background-color: #2f5061;
    font-size: 18px;
    border-radius: 6px;
    color: #b213f1;
    cursor: pointer;
}

.container input:hover{
    background-color: #fafafa;
    color: black;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

.col {
    float: none;
    width: 80%;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin-top: 6px;
}

.col p {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: #fafafa;
}

.col .fa-login {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #3b5998;
    cursor: pointer;
}

.col .fa-logout {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #55acee;
    cursor: pointer;
}

.col .fa-adddata {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #007bb5;
    cursor: pointer;
}

