.html{
    background-color: #efcdf7;
}

body{
	font-family: 'Jost', sans-serif;
    margin: 0;
	padding: 0;
	/* background:linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    background-color:#efcdf7;
}
 
.daftar{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
    font-family : 'Jost';
    color : #f70d57;
    text-transform: uppercase;
}
 
.tulisan_registrasi{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_registrasi{
	width: 350px;
	background: #e57f84;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	border-radius :30px;
}
 
label{
	font-size: 11pt;
}
 
.form_registrasi{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
	border-radius :30px;
}
 
.tombol_registrasi{
	background: #f70d57;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}